.response-box {
    width: 100%;
    display: flex;
}

.response-message {
    background: #EFEFEF;
    width: fit-content;
    max-width: 80%;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.85rem;
    word-wrap: break-word;
}